Django==5.2.17
djangorestframework==3.18.0
djoser==2.3.4
webcolors==1.11.1
psycopg2-binary==2.9.12
Pillow==12.3.0
pytest==9.1.1
pytest-django==4.14.0
PyYAML==6.0.3
setuptools
django-cors-headers==4.9.0
python-dotenv==1.2.3
requests==2.34.2
